
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body{
  text-align: center;
  padding: 20px;
  color: black;
  opacity: 600%;
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  font-family: fantasy;
  background-image: url('https://media.istockphoto.com/vectors/cartoon-storm-cloud-vector-id615895982?k=20&m=615895982&s=170667a&w=0&h=G8OzlUid2JHUr-opTSGwjPXjO8-Z9zREuQoGI68GesM=');
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
}

#NewBulb{
  font-family: fantasy;
  padding: 3px;
  text-align: center;
  margin: auto;
  display: flex;
  background-color: yellow;
  color: black;
  font-weight: bolder;
  font-size: medium;

}

#LessBulb{
  font-family: fantasy;
  padding: 3px;
  margin: auto;
  display: flex;
  background-color: black;
  color: yellow;
  font-weight: bolder;
  font-size: medium;

}

 #Bulb {
   margin: 1px;
   width: 230px;
   height: 275px;
 }

 #Switch{
   margin: 1px;
   width: 85px;
   height: 95px;
 }




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
